main, #hero, footer, header{
    text-align: center;
}
body {
    background-color: blue;
    padding-top: 0%;
    padding: 0%;
    margin:0;
}

/* Styles for Mobile Site */
@media (max-width: 1000px){
    /*Code here*/
}

/* Header & Hero */


/* Projects */
.professional, .review, #pfp{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    max-width: 200px;
    max-height: 100%;
}
.project img {
    max-width:100%;
    max-width: 200px;
    max-height: 100%;
}
.description, #ctag{
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    border-width: auto;
}
#email{
    background-color: rgb(0, 153, 255);
    border: 0%;
    border-radius: 7px;
    margin: 0;
    width:200px;
    height:50px;
    max-width:100%;
}
main{
    margin: 0;
    padding: 0;
}
/* Reviews */

/* Footer */
footer {
    border: none;
    position: relative;
    background-color: black;
    color:white;
    text-decoration-color: #ffff;
}
footer h4 {
    margin:0;
}
#imgOne{
    max-width: fit-content;
    max-height: auto;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
   
    
    /* Projects */
    /*
    .professional{
        justify-content: space-between; /*from w3schools https://www.w3schools.com/css/css3_image_center.asp* /
    }*/
    #projects{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    #projects img {
        max-width:100%;
    }
    .project {
        justify-items:stretch;
        display:grid;
    }

    /* Reviews */

    /* Footer */

}