main, #hero, footer, header{
    text-align: center;
}
body {
    background-color: blue;
    padding-top: 0%;
    padding: 0%;
    margin:0;
}

/* Styles for Mobile Site */
@media (max-width: 1000px){
    /*Code here*/

}

/* Header & Hero */


/* Projects */

/*.professional{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    max-width: 200px;
    max-height: 100%;
}*/

.review{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    max-width: 100px;
    max-height: 100%;

    margin: auto;
    width: 50%;
    /*past 2 lines from w3 schools https://www.w3schools.com/css/css_align.asp*/
}


.project img {
    max-width:100%;
    max-width: 100px;
    max-height: 100%;
}
.description{
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    border-width: auto;
}
#email{
    background-color: rgb(0, 153, 255);
    border: 0%;
    border-radius: 7px;
    margin: 0;
    width:200px;
    height:50px;
    max-width:100%;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 15px;
}
main{
    margin: 0;
    padding: 0;
}
#ctag{
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    border-width: 10px;
    padding: 5px;
    max-width: 200px;
   
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
/* Reviews */

.pfp{
    max-width: 100px;
    max-height: 100%;
    border-radius: 50%;
    
}
/* Footer */
footer {
    border: none;
    position: relative;
    background-color: black;
    color:white;
    text-decoration-color: #ffff;
}
footer h4 {
    margin:0;
}

.rtext{
    margin: 0;
    padding: 0;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    #imgOne{
        max-width: 100%;
        max-height: auto;
    }
    
    /* Projects */
   
    #projects{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    #projects img {
        max-width:80%;
        padding: 10px;
        border-radius: 7px;
        background-color: rgb(0, 153, 255);
    }
    .project {
        justify-items:stretch;
        display:grid;
    }

    /* Reviews */
   .review{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    max-width: 500px;
    max-height: 100%;

    margin: auto;
    width: 50%;
    /*past 2 lines from w3 schools https://www.w3schools.com/css/css_align.asp*/
   }
 
    /* Footer */

}